alias gpf='git push -f'
alias ga.='git add .'
alias gca='git commit --amend'
alias grc='git rebase --continue'
alias gc='git checkout'
alias gb='git branch -a'
alias workspace='cd ~/workspace' 
alias devhome='cd ~/src/github.com/Shopify'
alias core='cd ~/src/github.com/Shopify/shopify'
alias grm='git_rebase_master_adv'
alias sorbet='bin/srb typecheck'
alias packwerk='bin/packwerk update-todo'
alias split='git reset HEAD~'
alias rbi='dev rbi dsl'
alias 1p='bin/rake dev:shop_promise:spin_constellation_setup_1p'
alias 3p='bin/rake dev:shop_promise:spin_constellation_setup_3p'
alias devrefresh='bundle install && dev reup && dev restart'

