
cleanup() {
	dev style --include-branch-commits && bundle exec srb tc && dev test
}

gl() {
	git log -n 5
}

ms() {
	git fetch origin master
	git checkout -B master origin/master
}

main() {
	git fetch origin main
	git checkout -B main origin/main
}

squash() {
        git rebase --interactive --autosquash HEAD~$1
}

gfixup() {
	git commit --fixup $1
	git rebase --interactive --autosquash $1~1
}

gcb() {
	git checkout -b $1
}

gcs() {
	rake dev:gcs:upload FILEPATH=$1
}

sha256() {
  echo "$1  $2" | shasum -a 256 -c
}

lhm() { 
  bin/rails generate lhm $1
}

empty() {
  git commit --allow-empty -m ""
}

update() {
  git pull && update
}
