cleanup() {
	dev style --include-branch-commits && bundle exec srb tc && dev test
}

squash() {
        git rebase --interactive --autosquash HEAD~$1
}


main() {
	git fetch origin main
	git checkout -B main origin/main
}


gfixup() {
	git commit --fixup $1
	git rebase --interactive --autosquash $1~1
}

gcb() {
	git checkout -b $1
}

gl() {
	git log -n 5
}

sha256() {
  echo "$1  $2" | shasum -a 256 -c
}

empty() {
  git commit --allow-empty -m ""
}
